<html lang="PT-BR">
  <head>
    <meta charset="utf-8">
    <title>BookBlog</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
<body>
    <h1><%= @article.title %></h1>
    <p><em>Autor: </em><%= @article.author %></p>
    <p><em>Nota: </em><%= @article.book_grade %></p>
    <p><em>Descrição: </em><%= @article.description %></p>
    <ul>
      <li> <%= link_to "Editar", edit_article_path(@article) %> </li>
      <li> <%= link_to "Excluir", article_path(@article),
                  method: :delete,
                  data: { confirm: "Tem certeza?" } %></li>
      
      
    </ul>

     <%= link_to "Home", articles_path %>
</body>
</html>